 .container img {
  max-height: 500px;
  max-width: 500px;
}


 .textstyle {

     font: 10px arial, sans-serif;
 }

 body {
	font-family: 'Open Sans', sans-serif;
}

.featurette-image-max-size {

    max-height: 150px;
    max-width: 150px;
}

.picture-size {

    max-width: 50%;
    max-height: auto;

}

.textfont {

    colo  #ffb3d9
}